<%- include layouts/header.ejs %>
<div class="page-data">
	<div class="data-btn">
		<button onClick="addReservation();">+ Ajouter</button>
	</div>
	<div class="data-table">
		<table border="1" cellpadding="7" cellspacing="7">
			<tr>
				<th width="50px">No</th>
				<th>Numéro de Réservation</th>
				<th>Date de Début</th>
				<th>Date de Fin</th>
				<th width="120px">Action</th>
			</tr>
			<% if(data.length){ for(var i = 0;i < data.length;i++) { %>

			<tr>
				<td><%=(i+1)%></td>
				<td><%=data[i].Numero%></td>
				<td><%=data[i].DateDebut%></td>
				<td><%=data[i].DateFin %></td>
				<td><a class="a-inside edit"
					href="../reservation/edit/<%=data[i].idReservation%>">Edit</a> <a
					class="a-inside delete"
					href="../reservation/delete/<%=data[i].idReservation%>">Delete</a></td>
			</tr>
			<% } }else{ %>
			<tr>
				<td colspan="5" style="text-alignment:center;">Pas de réservation</td>
			</tr>
			<% } %>
		</table>
	</div>
</div>

<%- include layouts/footer.ejs %>